@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <h1>All Your Online Tools in One Place</h1>
    <p>Fast, Free & Easy-to-use utilities</p>
    <a href="#tools" class="btn">Explore Tools</a>
</section>

<!-- TOOLS SECTION -->
<section id="tools" class="tools">
    <h2>Our Services</h2>

    <div class="card-grid">

        <!-- JSON Formatter -->
        <div class="card">
            <h3>JSON Formatter</h3>
            <p>Format, minify, validate and fix your JSON instantly.</p>
            <a href="/json-formatter" class="btn btn-light">Open Tool</a>
        </div>

        <div class="card">
            <h3>Json Comparer</h3>
            <p>Compare two JSON objects online.</p>
            <a href="/json-comparer" class="btn btn-light">Open Tool</a>
        </div>
        <!-- JSON Converter -->
        <div class="card">
            <h3>Json Converter</h3>
            <p>Convert JSON into C#, TypeScript, SQL and more instantly.</p>
            <a href="/json-converter" class="btn btn-light">Open Tool</a>
        </div>

        <div class="card">
            <h3>Base64 Encoder / Decoder</h3>
            <p> Encode plain text into Base64 or decode Base64 into readable text instantly.</p>
            <a href="/base64-encoder-decoder" class="btn btn-light">Open Tool</a>
        </div>
        <div class="card">
            <h3>Javascript Obfuscator</h3>
            <p> Free Online JavaScript Obfuscator Tool | Protect & Encrypt Your Code</p>
            <a href="/javascript-obfuscator" class="btn btn-light">Open Tool</a>
        </div>

    </div>
</section>
<div style="text-align:center; margin-top:25px; color: #ffffff;">
    <p>Looking for more tools?</p>
    <a href="/tools" class="btn btn-primary">Explore All Tools</a>
</div>


