@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <h1>All Your Online Tools in One Place</h1>
    <p>Fast, Free & Easy-to-use utilities</p>
    <a href="#tools" class="btn">Explore Tools</a>
</section>

<!-- TOOLS SECTION -->
<section id="tools" class="tools">
    <h2>Our Services</h2>

    <div class="card-grid">

        <!-- JSON Formatter -->
        <div class="card">
            <h3>JSON Formatter</h3>
            <p>Format, minify, validate and fix your JSON instantly.</p>
            <a href="/json-formatter" class="btn btn-light">Open Tool</a>
        </div>

        <div class="card">
            <h3>Json Comparer</h3>
            <p>Compare two JSON objects online.</p>
            <a href="/json-comparer" class="btn btn-light">Open Tool</a>
        </div>
        <!-- JSON Converter -->
        <div class="card">
            <h3>Json Converter</h3>
            <p>Convert JSON into C#, TypeScript, SQL and more instantly.</p>
            <a href="/json-converter" class="btn btn-light">Open Tool</a>
        </div>

        <!-- Zakat Calculator -->
       @*  <div class="card">
            <h3>Zakat Calculator</h3>
            <p>Calculate your Zakat easily and accurately.</p>
        <a href="/zakat-calculator" class="btn btn-light">Open Tool</a>
        </div> *@

    </div>
</section>
